// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
   .container {
      max-width: 720px;
   }

   .private-info {
      padding: 30px;
   }

   .menu {
      padding: 25px 0;
   }
}
