// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
   //menu********************

   .menu-column {
      flex: 0 0 100%;
   }

   .menu-column {
      padding: 0;
   }

   //products********************

   .products__title {
      font-size: 20px;
   }

   //contacts********************

   .contacts-item {
      flex: 0 0 100%;
   }

   .contacts-item {
      padding: 0 0 0 35px;

      &.contacts-item--socials {
         padding: 0;
      }
   }

   //footer********************

   .footer-bottom {
      padding: 10px 0;
   }

   .footer-bottom__wrapper {
      flex-direction: column-reverse;
   }

   .footer-bottom-text {
      text-align: center;
      line-height: 1.5;
   }
}
